.description-container {
  width: 400px;
  height: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  box-shadow: none !important;
  background: transparent !important;
}

.description-heading {
  text-shadow: 0px 8px 15px rgba(25, 20, 20, 0.5);
  font-size: 50px !important;
  padding-bottom: 20px !important;
  font-family: "Poppins", sans-serif !important;
  font-weight: 800 !important;
  color: rgba(25, 20, 20, 0.9);
}

.description-content {
  font-size: 25px !important;
  line-height: 50px !important;
  font-family: "Poppins", sans-serif !important;
  color: rgba(25, 20, 20, 0.75);
  text-shadow: 0px 5px 15px rgba(25, 20, 20, 0.3);
}

.description-content p {
  font-weight: 300;
}

.description-content p strong {
  font-weight: 600;
}

.desription-content-podcasts {
  text-align: center;
  overflow-wrap: anywhere;
  font-size: 15px;
  line-height: 15px;
  font-weight: normal !important;
  width: inherit;
}

/* 2xl */
/*@media (max-width: 1536px) {

}*/

/* xl */
/*@media (max-width: 1280px) {

}*/

/* lg */
@media (max-width: 1024px) {
  .description-container {
    margin-top: 20px;
  }

  .description-heading {
    font-size: 35px !important;
    padding-bottom: 15px !important;
  }

  .description-content {
    font-size: 20px !important;
    line-height: 40px !important;
  }
}

/* md */
@media (max-width: 768px) {
  .description-container {
    margin-top: 30px;
  }

  .description-heading {
    font-size: 25px !important;
    padding-bottom: 10px !important;
  }

  .description-content {
    font-size: 15px !important;
    line-height: 30px !important;
  }
}

/* sm */
@media (max-width: 640px) {
  .description-container {
    height: inherit;
    margin: 0;
  }
}

/* xs */
/*@media (max-width: 475px) {

}*/
