.description-heading {
  text-shadow: 0px 8px 15px rgba(25, 20, 20, 0.5);
  color: rgba(25, 20, 20, 0.9);
}

.description-content {
  color: rgba(25, 20, 20, 0.75);
  text-shadow: 0px 5px 15px rgba(25, 20, 20, 0.3);
}

.login-container {
  width: 100vw;
  height: 100vh;
  background: var(--clr-grey);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
}

.login-introduction {
  text-align: center;
  font-family: Helvetica;
  margin: 50px 250px 50px 250px;
  font-size: 32px;
  font-family: "Poppins", sans-serif;
  color: rgba(25, 20, 20, 0.75);
  text-shadow: 0px 5px 15px rgba(25, 20, 20, 0.3);
}

.login-introduction strong {
  font-size: 48px;
  font-weight: 500;
  text-shadow: 0px 8px 15px rgba(25, 20, 20, 0.5);
  color: rgba(25, 20, 20, 0.9);
}

.login-img {
  width: 100px;
  height: 100px;
}

.login-content {
  font-family: "Poppins", sans-serif;
  font-size: 32px;
  color: rgba(25, 20, 20, 0.75);
  text-shadow: 0px 5px 15px rgba(25, 20, 20, 0.3);
}

.login-btn {
  font-family: "Poppins", sans-serif;
  background: var(--clr-green);
  color: var(--clr-black);
  border: 1px solid rgba(25, 20, 20, 0.7);
  border-radius: 1rem;
  box-shadow:
    0px 10px 10px rgba(25, 20, 20, 0.25),
    5px 0px 15px rgba(25, 20, 20, 0.25),
    -10px 0px 15px rgba(25, 20, 20, 0.25);
  font-size: 48px;
  padding: 4px 16px 4px 16px;
  cursor: pointer;
}

@media (max-width: 1280px), (max-height: 700px) {
  .login-introduction {
    margin: 50px 150px 50px 150px;
    font-size: 25px;
    word-spacing: 3px;
  }

  .login-introduction strong {
    font-size: 30px;
  }
}

@media (max-width: 1024px) {
  .login-introduction {
    margin: 50px 100px 50px 100px;
  }
}

@media (max-width: 768px) {
  .login-introduction {
    margin: 50px 25px 50px 25px;
  }
}

@media (max-width: 640px) {
  .login-content {
    font-size: 24px;
  }
}

/* height*/

@media (max-height: 620px) {
  .login-introduction {
    margin: 0px 25px 0px 25px;
    font-size: 20px;
    word-spacing: 3px;
  }

  .login-introduction strong {
    font-size: 25px;
  }
  .login-content {
    font-size: 16px;
  }
  .login-btn {
    font-size: 32px;
  }
}
