.nav-container {
  background-color: var(--clr-black);
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 5px 6px var(--clr-black);
  min-height: 6vh;
}

.nav-btn {
  color: rgba(249, 246, 238, 0.75) !important;
  font-size: 1rem !important;
  font-family: "Poppins", sans-serif;
}

.nav-btn-icon {
  padding: 10px 10px 10px 5px !important;
}

.nav-img {
  height: 40px;
  width: 40px;
  margin-right: 20px;
}

.drawer-container {
  width: 300px;
  background: var(--clr-black);
  color: rgba(249, 246, 238, 0.8);
  min-height: 100%;
}

.drawer-heading {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 30px;
  margin-left: 5px;
}

.drawer-li-text span {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
}

.drawer-li-text span:hover {
  text-shadow: 0px 0px 10px rgba(249, 246, 238, 0.7);
}

.drawer-icon {
  color: rgba(249, 246, 238, 0.8);
}

.drawer-divider {
  background: rgba(249, 246, 238, 0.8);
}

.drawer-icon-secondary {
  color: rgba(249, 246, 238, 0.8);
  margin-left: -5px;
}

.drawer-disclaimer {
  text-align: center;
  color: rgba(249, 246, 238, 0.75);
  padding: 150px 10px 10px 10px;
  font-family: "Poppins", sans-serif;
}

.drawer-disclaimer-h1 {
  font-size: 30px;
  margin-bottom: 30px;
}

@media (max-height: 900px) {
  .drawer-heading {
    font-size: 25px;
  }
  .drawer-li-text span {
    font-size: 15px;
  }
  .drawer-disclaimer {
    padding: 100px 10px 10px 10px;
  }

  .drawer-disclaimer-h1 {
    font-size: 25px;
    margin-bottom: 0;
  }
}

@media (max-height: 815px) {
  .drawer-disclaimer {
    padding: 50px 10px 10px 10px;
    font-size: 15px;
  }
}

@media (max-height: 740px) {
  .drawer-heading {
    font-size: 20px;
  }
  .drawer-li-text span {
    font-size: 15px;
  }
  .drawer-disclaimer {
    padding: 40px 10px 10px 10px;
    font-size: 13px;
  }

  .drawer-disclaimer-h1 {
    font-size: 20px;
  }
}

@media (max-height: 650px) {
  .drawer-disclaimer {
    padding: 20px 10px 10px 10px;
    font-size: 12px;
  }

  .drawer-disclaimer-h1 {
    font-size: 18px;
  }
}

@media (max-height: 594px) {
  .drawer-container {
    min-height: inherit;
  }
}
