.nav-container {
  background-color: var(--clr-black);
  margin-bottom: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-btn {
  color: rgba(249, 246, 238, 0.75) !important;
  font-size: 1rem !important;
  font-family: "Poppins", sans-serif;
}

.nav-btn-icon {
  padding: 10px 10px 10px 5px !important;
}

.nav-img {
  height: 40px;
  width: 40px;
  margin-right: 20px;
}

.drawer-container {
  width: 300px;
  background: var(--clr-black);
  color: rgba(249, 246, 238, 0.8);
  height: 100%;
}

.drawer-heading {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 30px;
  margin-left: 5px;
}

.drawer-li-text span {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
}

.drawer-icon {
  color: rgba(249, 246, 238, 0.8);
}

.drawer-divider {
  background: rgba(249, 246, 238, 0.8);
}

.drawer-icon-secondary {
  color: rgba(249, 246, 238, 0.8);
  margin-left: -5px;
}

.drawer-disclaimer {
  text-align: center;
  color: rgba(249, 246, 238, 0.75);
  padding: 150px 10px 10px 10px;
  font-family: "Poppins", sans-serif;
}

.drawer-disclaimer-h1 {
  font-size: 30px;
  margin-bottom: 30px;
}

/* 2xl */
/*@media (max-width: 1536px) {

}*/

/* xl */
/*@media (max-width: 1280px) {

}*/

/* lg */
/*@media (max-width: 1024px) {

}*/

/* md */
/*@media (max-width: 768px) {

}*/

/* sm */
/*@media (max-width: 640px) {

}*/

/* xs */
/*@media (max-width: 475px) {

}*/
