.play-btn-container {
  border-radius: 50%;
  display: inline-block;
  position: relative;
  width: 100px;
  height: 100px;
  margin-top: 0px 20px;
  box-shadow:
    0px 10px 15px rgba(25, 20, 20, 0.25),
    5px 0px 15px rgba(25, 20, 20, 0.25),
    -10px 0px 15px rgba(25, 20, 20, 0.25);
}

.play-btn-container:hover {
  box-shadow:
    0px 10px 10px rgba(25, 20, 20, 0.25),
    5px 0px 10px rgba(25, 20, 20, 0.25),
    -10px 0px 10px rgba(25, 20, 20, 0.25);
}

.play-btn-icon {
  color: var(--clr-green);
  font-size: 100px;
  position: relative;
  z-index: 2;
}

.play-btn-backround {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 80%;
  height: 80%;
  background-color: rgba(25, 20, 20, 0.9);
  border-radius: 50%;
  z-index: 1;
}

/* 2xl */
/*@media (max-width: 1536px) {

}*/

/* xl */
/*@media (max-width: 1280px) {

}*/

/* lg */
/*@media (max-width: 1024px) {

}*/

/* md */
/*@media (max-width: 768px) {

}*/

/* sm */
@media (max-width: 640px), (max-height: 830px) {
  .play-btn-container {
    margin-top: 20px;
    margin-bottom: 50px;
  }
}

/* xs */
/*@media (max-width: 475px) {

}*/
